.button {
    margin-bottom: 35px;
    padding: 11px 16px;
  
    background-color: #10b981;
    cursor: pointer;
    border-radius: 6px;
    border: 0;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    color: #fff;
  }