.container {
  width: 550px;
  margin: 0 auto;

  background-color: #1f2937;
}

.wrapper {
  width: 500px;
  margin: 0 auto;
  padding: 115px 0;
}

.title {
  margin-bottom: 10px;

  font-family: 'Karla';
  font-weight: 800;
  font-size: 40px;
  color: #fff;
}

.highlightedTitle {
  display: block;

  color: #4adf86;
}

.description {
  margin-bottom: 50px;

  font-family: 'Inter';
  font-size: 20px;
  color: #d5d4d8;
}

.button {
  margin-bottom: 35px;
  padding: 11px 16px;

  background-color: #10b981;
  border-radius: 6px;
  border: 0;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

.line {
  margin-bottom: 35px;

  border: 1px #2f3e53 solid;
}

.entryField {
  display: flex;
  justify-content: space-between;
}

.passwordField {
  height: 40px;
  display: flex;
  align-items: center;

  border-radius: 5px;
  background-color: #273549;
}

.password {
  width: 200px;
  padding: 5px 15px;

  background-color: #273549;
  color: #55f991;
  border: 0;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 16px;
}
